@import '/src/styles/_colors';

.container {
	width: fit-content;
	margin: auto;
}

.typewriter {
	width: fit-content;
	margin: auto;
	// white-space: break-spaces;
	& p {
		overflow: hidden;
		white-space: nowrap;
		margin: 0;
		letter-spacing: 0.1em;
	}

	&.active p {
		border-right: 0.15em solid $main-orange;
		animation: typing 3s steps(40, end), blink-caret 1s step-end infinite;
	}
}

@keyframes typing {
	from {
		width: 1%;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: $main-orange;
	}
}
