@import '/src/styles/_colors';

.image {
	margin: auto;
	max-width: 15vmax;
	max-height: 15vmax;
}

.text_container {
	text-align: center;
}

.university {
	font-weight: bold;
	color: $main-dark;
}

.title {
	font-weight: bold;
	color: $main-dark;
}

.badge {
	background: $main-background;
}
