@import '/src/styles/_colors';

.image {
	height: auto;
	width: 220px;
	border: $main-orange solid 4px;
}

span.pipe {
	color: $main-dark;
}

.designations {
	text-align: center;
	font-size: 1.1rem;
	& div {
		display: inline-block;
		white-space: nowrap;
	}
}

.list {
	margin-bottom: 0;
	font-size: 0.9rem;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.icon {
	font-size: 5.75rem;
	color: rgba($main-light, 0.5);
	overflow: hidden;
}

.favorite_list {
	margin-bottom: 2rem;
}

@media only screen and (min-width: 1200px) {
	.favorite_list {
		min-width: 50%;
	}
}

li:last-child {
	margin-bottom: 0;
}
