@import '/src/styles/_colors';

.title {
	font-size: 3rem;
	text-align: center;
	font-weight: normal;
	&.name {
		& span:first-child {
			font-weight: 500;
		}
		& span:last-child {
			color: $main-orange;
		}
	}
}

.sub_title {
	font-size: 2rem;
	text-align: center;
	font-weight: normal;
}

.icon_wrapper {
	margin: 0 1rem;
	position: relative;
	display: flex;
	align-items: center;
	&:hover .tooltip {
		display: block;
	}

	&.tech {
		margin-bottom: 40px;
	}
}

.tooltip {
	display: none;
	color: $main-orange;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
}

.icon {
	position: relative;
	top: 0;
	font-size: 3.75rem;
	transition: top 0.5s;
	color: $main-med;
	overflow: hidden;
	&:hover {
		color: $main-orange;
	}
	&.animated:hover {
		top: -10px;
	}
	&.tech {
		font-size: 3rem;
	}
}

.tech_title {
	text-align: center;
	color: #717f79;
	font-weight: 400;
}

.tech_grid {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
