@import '/src/styles/_colors';

.name_title {
	font-size: 3rem;
	text-align: center;
	font-weight: normal;
	& span:first-child {
		font-weight: 500;
	}
	& span:last-child {
		color: $main-orange;
	}
}

.icon_wrapper {
	margin: 0 1rem;
	position: relative;
	display: flex;
	align-items: center;
	&:hover .tooltip {
		display: block;
	}
}

.tooltip {
	display: none;
	color: $main-orange;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
}

.icon {
	position: relative;
	top: 0;
	font-size: 3.75rem;
	transition: top 0.5s;
	color: $main-med;
	overflow: hidden;
	&:hover {
		color: $main-orange;
		top: -10px;
	}
}
