@import '/src/styles/_colors';

.name_title {
	font-size: 3rem;
	text-align: center;
	font-weight: normal;
	& span:first-child {
		font-weight: 500;
	}
	& span:last-child {
		color: $main-orange;
	}
}

.icon_wrapper {
	margin: 0 1rem;
	position: relative;
	display: flex;
	align-items: center;
	& a:hover .tooltip {
		display: block;
	}
}

.tooltip {
	display: none;
	color: $main-orange;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	bottom: -50px;
	transform: translateX(-50%);
}

a.animated {
	animation: float 2s ease-in-out infinite;
}

.icon {
	font-size: 3.75rem;
	color: $main-med;

	overflow: hidden;
	&:hover {
		color: $main-orange;
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
