@import '/src/styles/_colors';

.nav_bar {
	height: 90px;
}

.nav {
	width: 100%;
	padding: 0.5rem 2rem 1rem 2rem;
}
.nav_collapse {
	background: rgba($main-background, 0.8);
}

.nav_item {
	color: $main-med !important;
	text-transform: capitalize;
	&:hover {
		color: $main-med;
		font-weight: bold;
	}
}

.active {
	color: $main-orange !important;
	&:hover {
		color: $main-orange;
		font-weight: bold !important;
	}
}
