@import '/src/styles/_colors';

.footer {
	width: 100%;
	text-align: center;
	padding: 1rem 0rem;
	margin-top: 2rem;
	& a {
		color: $main-orange;
		font-weight: bold;
	}
}

.heart {
	color: $main-orange;
}
